/* Main section container */
.container {
  display: flex;
  padding-top: var(--nav-height);
  padding-bottom: 2rem;
  position: static;
  overflow-y: scroll;
  overflow-x: scroll;
  background: var(--bg);
  width: 100%;
  height: auto;
}

/* Sub section container */
.subcontainer {
  width: 100%;
  display: block;
  max-width: var(--nav-max-width);
  margin: 0 auto;
  min-height: var(--navbar-height);
}