@media (max-width: 1600px) {
  :root { --nav-max-width: 1600px; }
}

@media (max-width: 1400px) {
  :root { --nav-max-width: 1400px; }
}

@media (max-width: 1200px) {
  :root { --nav-max-width: 1200px; }
}

@media (max-width: 1100px) {
  :root { --nav-max-width: 1100px; }
  .home-split-hor { display: flex; flex-direction: column; }
  .image-grid { grid-template-columns: repeat(3, 1fr); }
  .image-grid2 { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 1024px) {
  :root { --nav-max-width: 1024px; }
  .image-grid { grid-template-columns: repeat(3, 1fr); }
  .image-grid2 { grid-template-columns: repeat(3, 1fr); }
  .home-split-hor { display: flex; flex-direction: column; }
}

@media (max-width: 900px) {
  :root { --nav-max-width: 900px; }
  .image-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 800px) {
  :root { --nav-max-width: 800px; }
  .nav-left .site-logo { width: 64px; height: 16px; }
  .nav-center { gap: 0.5em; }
  .nav-center .nav-link { padding: 3px 6px; }
  .nav-right { max-width: 108px; }
  .github-icon { width: 16px; height: 16px; }
  .theme-toggle { font-size: 0.6rem; }
  .leaderboard-table thead th { font-size: 13px; padding: 10px; }
  .leaderboard-table td { padding: 8px; font-size: 13px; }
  .home-split-hor { display: flex; flex-direction: column; }
  .image-grid { grid-template-columns: repeat(2, 1fr); }
  .image-grid2 { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
  :root { --nav-max-width: 600px; --navbar-height: 40px}
  .nav-center { gap: 0.375rem; }
  .home-split-hor2 { grid-template-columns: 1fr 1fr; }
}

@media (max-width: 400px) {
  :root { --nav-max-width: 400px; --navbar-height: 64px}
  /* .navbar-wrap { display: flex; flex-direction: column; } */
  .navbar { flex-wrap: wrap; justify-content: center; gap: 0.5rem; }
  .nav-left { flex: 50%; display: flex; position: static; }
  .nav-center { order: 2; display: flex; flex-wrap: wrap; gap: 0.25rem; }
  .nav-right { flex: 50%; display: flex; position: absolute; top: 5%;}
  .github-icon { width: 16px; height: 16px; }
  .home-split-hor { display: flex; flex-direction: column; }
  .image-grid { grid-template-columns: repeat(1, 1fr); }
  .image-grid2 { grid-template-columns: repeat(1, 1fr); }
}